.table-container {
  position: relative;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  line-height: 0;
}

.table-container tbody tr:hover {
  cursor: pointer;
  background-color: rgb(237, 236, 236);
}

.column-name {
  width: 55%;
}

.column-rest {
  width: auto;
}

.content-table-name {
  margin-top: 6px;
}

.content-table-name a {
  color: black;
}

.content-table-name svg {
  font-size: 22px;
  color: #5515ff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.content-table-name .text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.content-table-video_count p,
.content-table-size p,
.content-table-update p {
  text-align: center;
  vertical-align: middle;
}

thead th.column-rest:not(:first-child) p {
  text-align: center;
  vertical-align: middle;
}
